{% extends 'pdashboard/nav.html' %}
{% load static %}
{% block mainbody %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>About US</title>
</head>

<body >
   
    <div style="background-color: black;color:white;margin-left: 6%;margin-right: 6%;padding: 5%;">
        <h2>About Us</h2>
        <p style="text-align: justify;">Project Community is Basically a platform on which students upload their project and reports.It provides a Space or storage through which Students can upload their projects and records so that all projects and
        their records are present. This Project Community helps the College Faculty.Till now the teacher has to keep this project reports in the format of hard copy. So by using this application Every
        Faculty will easily fetch the projects and reports of every project and It will help colleges to see all the data at one
        interface.The college can show this all data about the student project if any new company or community needs to view all these
        projects and reports , so it will be very helpful for the college to show effectively the projects of the students of
        all branches of the institute. Students can also be graded according to the projects and reports they submitted through
        the website of projects community.</p>
        <p style="text-align: justify;">Students can choose a technology they want to create a project or refer to previous projects based on that technology.
        It helps lots of students don't need to build things from scratch. It will help students to implement a project with the
        latest technology and also get the opportunity to work on previous projects and make a new advancement in existing
        projects. To explain the overall technology used, working on the project and also explain the importance of the project.</p>
        <p style="text-align: justify;">Engaging in community service provides students with the opportunity to become active members of their community and has
        a lasting, positive impact on society at large. Community service or volunteerism enables students to acquire life
        skills and knowledge, as well as provide a service to those who need it most.</p><br>
<br>

        <h2>FAQ's</h2>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item" style="background-color: black;">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" style="color:rgb(222, 70, 116);background-color: black;">
                        How I can Upload and Access the project?
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body" style="color:white;">Firstly, You Have to Create an Account in this Project Comminity and then you are able to Upload
                        the project and report. You can access all those uploaded project in All project tab. if the project which you want is not avilable then you can 
                        message to Project commity using Help and Demand us what you require Exactly.
                    </div>
                </div>
            </div>
            <div class="accordion-item" style="background-color: black;">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="color:rgb(222, 70, 116);background-color: black;">
                        What is the Purpose of Project Community?
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body" style="color: white;">Participating in a community bonded by values, and goals are essential and ensure that the needs of all students are
                    considered and met to the best of their project ability, creating advantageous outcomes for larger sectors of the
                    Student Community. This Community gives students an opportunity to observe and analyze real-world situations while improving their
                    professional skills and learning from the realities of their community; they're often an essential source of connection.</div>
                </div>
            </div>
            <div class="accordion-item" style="background-color: black;">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" style="color:rgb(222, 70, 116);background-color: black;">
                        What are the Scope of Project Commmunity?
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body" style="color:white;">Here, Students share everything, which is related to education stuff. Anyone can access the files, including projects, of any
                    year, branches, and reports for reference purposes.The Scope of the project community is bright. There remains strong
                    demand for people to deliver change.
</div>
                </div>
            </div>
            <div class="accordion-item" style="background-color: black;">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree"
                        style="color:rgb(222, 70, 116);background-color: black;">
                        How Project Community Helps to college Faculty?
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body" style="color:white;">This will be beneficial to the college because after every Year this college has to provide the project records to the
                    various committees like NAAC,NBA etc Committee. Till now the teacher has to keep this project reports in the format of
                    hard copy. So by using this application Every Faculty will easily fetch the projects and reports of every project and It
                    will help colleges to see all the data at one interface.
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>

{% endblock %}